.myBtn{
    padding: 5px 15px;
    color: white;
    font-size: 20px;
    background: transparent;
    border: 2px solid white;
    display: block;
    margin: 25px auto;
    border-radius: 5px;
    transition: all 500ms ease;


}
.myBtn:hover{
    transition: all 500ms ease;
    border: 2px solid greenyellow;
    border-radius: 15px;
    cursor: pointer;
}